extends layout

block content
    h1 #{title}
    form(method='POST', action='/articles/add')
      #form-group
        label Model:
        input.form-control(name='model', type='text')
      #form-group
        label Cost:
        input.form-control(name='cost', type='text')
      #form-group
        label Details:
        textarea.form-control(name='details', type='text')
      input.btn.btn-success.my-3(type='submit', value='Add')
