extends layout

block content
    h1 #{title}
    form(method='POST', action='/articles/edit/'+article._id)
      #form-group
        label Model:
        input.form-control(name='model', type='text', value=article.model)
      #form-group
        label Cost:
        input.form-control(name='cost', type='text', value=article.cost)
      #form-group
        label Details:
        textarea.form-control(name='details', type='text')= article.details
      
      input.btn.btn-success.my-3(type='submit', value='Save changes')
