@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');
body
{
  background-color: #d2d2d2;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 16px;
  color: #0d102f;
  -webkit-font-smoothing: antialiased;
  -webkit-oweflow-scrollng: touch;
  margin-top: 50px;
}

h1, h2, h3, h4, h5, h6
{
  font-family: 'Raleway';
  font-weight: 400;
  color: #121212;
}

p
{
  line-height: 28px;
  margin-bottom: 25px;
}

.centered
{
  text-align: center;
}

a
{
  color: #f85c37;
}

a:hover, a:focus
{
  color:#7b7b7b;
  text-decoration: none;
  outline: 0;
}

/* hr
{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid: #ccc;
  margin: 1em 0;
  padding: 0;
} */

.navbar
{
  background:#5d5d5d;
  font-weight: 700;
  font-size: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.navbar-brand
{
  color:
  font-weight: 800;
  font-size: 40px;
}
.navbar-brand:hover{
  color: #c7c7c7;
  text-decoration:;
}
.nav-link , .navbar-brand{
  color: #f4f4f4;
  cursor: pointer;
}
.nav-link{
  margin-right: 1em;
}
.nav-link:hover{
  background: #f4f4f4 !important;
  color: #111;
}
.navbar-collapse{
  justify-content: flex-end;
}
.navbar-toggler{
  background:#424242 !important;
}
.navbar-toggler:hover{
  background-color:#cfcfcf;
}
